<div class="container w-75">
        <!-- header container -->
        <div class="row">
            <div class="col">
                <i class="fas fa-hamburger fa-3x text-center"></i>
                <br>
                <h1 class="text-center">Eat Da Burger!</h1>
            </div>
        </div>
    </div>


    <div class="container w-75">
        <!-- main container -->
        <div class="row">
            <div class="col">
                <!-- column to be devoured -->
                <table class="table table-dark all-burgers">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Devour?</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each burgers}}
                            {{#unless devoured}}
                            <tr>
                                <th scope="row">{{id}}</th>
                                <td>{{burger_name}}</td>
                                <td>
                                    <button class="btn btn-secondary devour" data-id="{{this.id}}">Devour</button>
                                </td>
                            </tr>
                            {{/unless}}
                        {{/each}}
                    </tbody>
                  </table>
            </div>
            <div class="col">
                <!-- column devoured -->
                <table class="table devoured-burgers">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Delete?</th>
                      </tr>
                    </thead>
                    <tbody>
                        {{#each burgers}}
                            {{#if devoured}}
                            <tr>
                                <th scope="row">{{id}}</th>
                                <td>{{burger_name}}</td>
                                <td>
                                    <button class="btn btn-secondary delete" data-id="{{this.id}}">Delete</button>
                                </td>
                            </tr>
                            {{/if}}
                        {{/each}}
                      
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="row ">
            <div class="col input-col">
            <!-- input box column -->
                    <input id="burger-input" placeholder="Burger Name...">
                    <button class="btn btn-primary mb-2" type="submit">Submit Burger</button>
            </div>
        </div>


    </div>

    <div class="footer">Eat Da Burger! 2020</div>